﻿<li><div class="todo <%= Done ? 'done' : '' %>">
    <div class="display">
        <input class="check" type="checkbox" <%= Done ? 'checked="checked"' : '' %> />
        <div class="todo-text"></div>
        <span class="todo-destroy"></span>
    </div>
    <div class="edit">
        <input class="todo-input" type="text" value="" />
    </div>
</div></li>
