﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title</title>
    <link href="@Url.Content("~/Content/todos.css")" rel="stylesheet" type="text/css" />
    <script data-main="@Url.Content("~/Scripts/app/main")" src="@Url.Content("~/Scripts/require.js")"></script>
    
    
   
</head>

<body>
    @RenderBody()
</body>
</html>
